*{
    /* 初始化 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* 100%窗口宽高 */
    height: 100vh;
    /* 弹性布局 居中显示 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
.container{
    width: 100%;
    height: 592px;
    position: relative;
}
/* 容器四边的渐变黑 */
.shades{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* 元素不对指针事件做出反应 */
    pointer-events: none;
}
.shades .left{
    width: 160px;
    height: 100%;
    background: linear-gradient(to left,transparent,#16161a);
    position: absolute;
    left: 0;
    top: 0;
}
.shades .right{
    width: 160px;
    height: 100%;
    background: linear-gradient(to right,transparent,#16161a);
    position: absolute;
    right: 0;
    top: 0;
}
.shades .top{
    width: 100%;
    height: 90px;
    background: linear-gradient(to top,transparent,#16161a);
    position: absolute;
    left: 0;
    top: 0;
}
.shades .bottom{
    width: 100%;
    height: 220px;
    background: linear-gradient(to bottom,transparent,#16161a);
    position: absolute;
    left: 0;
    bottom: 0;
}
.imgs{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.imgs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}
.imgs a{
    opacity: 0;
    transition: 0.2s;
}
.imgs a.active{
    opacity: 1;
}
.titles{
    width: 297px;
    height: 416px;
    position: absolute;
    top: 19%;
    right: 5%;
    background: linear-gradient(to bottom,transparent,#16161a 22%,#16161a 81%,transparent);
}
.titles a{
    display: block;
    color: rgba(255, 255, 255, 0.966);
    text-decoration: none;
    width: 100%;
    padding: 12px 20px;
}
.titles .title2{
    font-size: 12px;
    margin-top: 8px;
    font-weight: normal;
    /* 副标题默认隐藏 */
    display: none;
}
/* 标题活动态 */
.titles a.active{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to right,rgba(255,255,255,0.25) 20%,transparent 90%);
}
.titles a.active .title2{
    /* 活动态下副标题显示 */
    display: block;
}
.container1 a{
    /* 相对定位 */
    position: relative;
    width: 400px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    color: #f8f6f6;
}
.container1{
    /* 弹性布局 */
    display: flex;
    /* 垂直排列 */
    flex-direction: column;
    /* 间隙 */
    gap: 80px;
}
.button{
    /* 自定义变量 */
    /* 边框的偏移量 */
    --offset:10px;
    /* 边框的厚度 */
    --border-size:2px;
    /* 相对定位 */
    position: relative;
    width: 150px;
    height: 63px;
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
    justify-content: top;
    align-items: center;
    color: hwb(0 100% 0%);
    /* 默认背景透明 */
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    /* 通过内阴影的方式绘制边框 */
    /* currentColor==color: #6c98de; */
    box-shadow: inset 0 0 0 var(--border-size) currentColor;
    /* 设置背景改变时的过渡效果 */
    transition: background 0.8s ease;
}
.button:hover{
    /* 悬停改变背景 */
    background: rgba(100,0,0,0.065);
}
/* 外边框统一样式 */
.button-h,
.button-v{
    position: absolute;
    top:var(--h-offset,0);
    right:var(--v-offset,0);
    bottom:var(--h-offset,0);
    left:var(--v-offset,0);
    /* 过渡 */
    transition: transform 0.8s ease;
}
.button-h{
    --v-offset:calc(var(--offset) * -1);
    border-top:var(--border-size) solid currentColor;
    border-bottom:var(--border-size) solid currentColor;
}
.button-v{
    --h-offset:calc(var(--offset) * -1);
    border-left:var(--border-size) solid currentColor;
    border-right:var(--border-size) solid currentColor;
}
.button-h::before,
.button-v::before{
    content: "";
    position: absolute;
    /* 边框继承父元素 */
    border: inherit;
}
.button-h::before{
    top:calc(var(--v-offset) - var(--border-size));
    bottom:calc(var(--v-offset) - var(--border-size));
    left:calc(var(--v-offset) * -1);
    right:calc(var(--v-offset) * -1);
}
.button-v::before{
    top:calc(var(--h-offset) * -1);
    bottom:calc(var(--h-offset) * -1);
    left:calc(var(--h-offset) - var(--border-size));
    right:calc(var(--h-offset) - var(--border-size));
}
/* 悬停样式 */
.button:hover .button-h{
    transform: scaleX(0);
}
.button:hover .button-v{
    transform: scaleY(0);
}